<p>Student Marks</p>
<html>
    <head>
        <title>
            Student Marks
        </title>
    </head>
    <body>
        <form method="post">
            <label>Id: </label>
            <input type="number" value="id">
            <label>Name: </label>
            <input type="text" value="name">
            <label>result: </label>
            <table class="result">
                <thead>
                    <th>Subject</th>
                    <th>Marks</th>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>total</td>
                </tr>
                </tbody>
            </table>
            
            
        </form>
    </body>
</html>
